
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.phone-icon {
    width: 10rem;
    height: 1.5rem;
    background:url("./assets/logo.png") no-repeat center;
    background-size: 100% auto;
}
.phone-mask {
    font-size: 0.75rem;
    color:#fff;
    line-height:1.2;
    padding:0.3rem 0.625rem;
    background-color: rgba(9,46,129,0.239);
    border-radius: 1rem;
}
.order-center {
    margin: 106% 1rem 1rem;
}
.order-btn {
    margin: 0 auto 0.875rem;
    width:17rem;
    height: 3rem;
    background: url('./assets/btn-order.png') no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.order-info {
    color:#fff;
    font-size:0.625rem;
    margin:0;
    text-align: center;
}
.order-em {
    color:#ff0055;
}
.pb16 {
    padding-bottom:1rem;
}
  .order-rule {
    width:100%;
    background-color:rgba(255,255,255,0.9);
    border-radius: 2rem;
    font-size: 0.94rem;
    color:#363f6c;
    padding:1.75rem 1.875rem;
    box-sizing: border-box;
    line-height:1.2;
    height: 30rem;
    overflow: hidden;
  }
  .order-body {
    font-size: 0.625rem;
    line-height:1.8;
    height:calc(100% - 2rem);
    overflow: auto;
  }
  .order-rule p {
    margin:0;
  }
  .order-rule .order-title {
    font-weight: bold;
    padding-bottom:0.94rem;
    text-align: center;
  }
  .order-rule .order-subtitle {
    font-weight: bold;
  }
.mask {
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    z-index:999;
    background-color: rgba(0,0,0,0.6)
}
.sms-btn {
    width: 10rem;
    height: 2.3rem;
    text-align: center;
    line-height:2.3rem;
    color:#fff;
    font-size:0.875rem;
    font-weight: bold;
    background-color: rgb(36, 108, 255);
    border-radius: 1.2rem;
    margin:0 auto;
}
@media screen and (min-width:750px){
    #app {
        width: 390px;
        margin: 0 auto;
    }
}